body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    position: absolute;
    background: black;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

/* HUD
---------------------------------------------------------- */
img#target {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -294px;
    margin-top: -294px;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

#types {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    position: absolute; 
    top: 10px; 
    right: 10px;
    background: rgba(3,3,3,0.4);
    padding: 2px;
    z-index: 100;
    width: 100px;
    /*border: 1px solid rgba(255,255,255,0.5);*/
}

.hide-checkbox {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

.hide-checkbox + label {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    display: block;
    float: left;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.0);
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.hide-checkbox:checked + label {
    background-color: white;
    color: black;
}

.label {
    position: absolute;
    z-index: 105;
    text-align: left;
    background: rgba(3,3,3,0.6);
    /*border: 1px solid rgba(255,255,255,0.5);*/
}

.labelInner {
    padding: 3px 0px;
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    opacity: 10.0;
    margin: 0px;
    z-index: 106;
}

#loc {
    background-color: rgba(0,0,0,0.4);
    display: table;
    font-size: 14px;
    margin: 0px auto 0px auto;
}

#loc span{
  animation: blink 1s infinite;
  font-size: 28px;
}

@keyframes blink{
  to{opacity: .0;}
}


#info {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    bottom: 20px; 
    width: 100%;
    text-align: center;
    pointer-event: none;
    color: white;
    text-outline: 2px 2px black;
    z-index: 100px
}

#left-info {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    top: 650px; 
    left: -475px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    pointer-event: none;
    color: white;
    text-outline: 2px 2px black;
    width: 1000px;
    font-size: 14px;
}

#left-info p {
    display: inline-block;
    margin-right: 40px;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
}

/* ELEMENTS */
.title {
    text-align: center;
    font-weight: bold;
    color: white; 
    margin-left: 6px;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0.5);
}

.coorner {
    position: absolute;
    background-color: rgba(255,255,255,0.0);
    width: 10px;
    height: 10px;
    z-index: 103;
}

div#coorner-top-left {
    top: -2px;
    left: -2px;
    border-top: 2px solid rgba(255,255,255,0.7);
    border-left: 2px solid rgba(255,255,255,0.7);
}

div#coorner-top-right {
    top: -2px;
    right: -2px;
    border-top: 2px solid rgba(255,255,255,0.7);
    border-right: 2px solid rgba(255,255,255,0.7);
}

div#coorner-bottom-left {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid rgba(255,255,255,0.7);
    border-left: 2px solid rgba(255,255,255,0.7);
}

div#coorner-bottom-right {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid rgba(255,255,255,0.7);
    border-right: 2px solid rgba(255,255,255,0.7);
}

/* LEAFLET 
---------------------------------------------------------- */
.leaflet-control-attribution {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    color: black;
    background-color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
}

.leaflet-control-attribution a {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
    color: black;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font-family: 'Jura', Helvetica, Arial, sans-serif;
}

.leaflet-bar a {
    color: white;
    background-color: rgba(0,0,0,.4);
    border-radius: 0px;
    border: 1px solid rgba(255,255,255,0.7);
}
.leaflet-bar a.leaflet-disabled {
    color: gray;
    background-color: rgba(0,0,0,.4);
    border-radius: 0px;
    border: 1px solid rgba(255,255,255,0.7);
}

.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
    border-radius: 0px;
    border: 1px solid rgba(255,255,255,0.7);
}